.typeContainer {
    /* border: 2px solid rgb(139, 148, 130); */

    display: flex;
    flex-direction: column;

    align-items: center;

    min-width: 26vw;

    padding-bottom: 40px;
}

.titleTypeCont {
    font-size: 1.5rem;
    margin: 12px 0px 10px;
}

.greenIncomes .titleTypeCont{
    color: #AABD8C;
}

.redExpenses .titleTypeCont{
    color: #fa7d3a
}


#typeContainerArea {
    width: 90%;

    min-height: 520px;
    padding: 20px 5px 20px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;


    border-radius: 13px;
    background: linear-gradient( -50deg, #211A1D, #223844); 
    box-shadow: inset 1px 1px 18px 1px #211A1D,
            inset -1px -1px 18px 1px #203541;

}